<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945566384287-nesdl30ak5f64f9bggg80f6shjpr97ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945566384287-nesdl30ak5f64f9bggg80f6shjpr97ks</string>
	<key>API_KEY</key>
	<string>AIzaSyCHNBJiZwSJEtuuy7-lsMh23j3B5SexgDA</string>
	<key>GCM_SENDER_ID</key>
	<string>945566384287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jp.bychance.bychanceclientconsole</string>
	<key>PROJECT_ID</key>
	<string>bychance-r-client-console-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bychance-r-client-console-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945566384287:ios:c3c79a7199dd6e2d3122aa</string>
</dict>
</plist>